<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dreaming Birds account</title>
    <link rel="stylesheet" href="../css/login.css" type="text/css">
</head>

<body>
    <div class="root">
        <div id="header"></div>
        <div class="container">
            <div class="login_text">
                <h2>소셜 로그인</h2>
            </div>
            <div class = "login_btns">
                <a href="google">
                    <img src="../img/login/btn_google_signin_dark_normal_web.png">
                </a>
                <br>
                <a href="kakaotalk">
                    <img src="../img/login/kakao_login_medium_narrow.png">
                </a>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../js/header.js"></script>
</body>
</html>