<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/addsubject.css" type="text/css">
    <title>DreamingBirds</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
    <div class="root">
		<div id="header"> </div>
		<div class="line"></div>
		<div class="container">
            <div class="main">
                <div class="head">
					<a class="x-btnA" href="/home"><img class="x-btn" src="../img/icon/x-button.png"></a>
                </div>
                <div class="title"> <h1>추가하실 과목을 입력해 주십시오</h1></div>
                <a class="back-btnA" ><img class="back-btn" src="../img/icon/back-button.png"></a>

                <div class="add-div">
                    <span class="sub-title">추천 과목</span>
                    <div class="r-subjects"></div>
                    <div class="search">
                        <img class="search-img" src="../img/icon/magnifyinglass.png">
                        <input class="input" type="text" placeholder='검색할 과목명을 입력하세요'>
                    </div>
                </div>
                <form method="post">
                    <div class="direct-input">
                        <div class="sub-title"><span>직접 입력</span></div>
                        <div><input class="input-direct" type = "text" name="n" placeholder='직접 입력해주세요' value="" id="name"></div>
                        <input type="text" name="mypage" id="mypage" style="display: none;">
                    </div>
                    <div class="foot">
                        <input class="noclear-btn c-btn" value="완료" type="submit" />
                    </div>
                </form>

                
                
            </div>
		</div>

		<div class="overlay"></div>
        <div id="user-info" data-user=<%= JSON.stringify(user).replaceAll(" ", "&nbsp;") %>></div>
	</div>
	<script type="text/javascript" src="../js/header.js"></script>
	<script src="../js/addsubject.js"></script>
</body>
</html>