<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href = "../public/css/checklist.css">
    <title>Dreaming Birds</title>
</head>
<body>
    <div id="wrap" class="no-drag container">
        <!--header-->
		<header>
			<img id="logo" src="../img/main/logo.png">
			<div id="member_profile">
				<img src="../img/main/unknown.png">

			</div>
			<span id="member_name">김성함 님</span>

			<!-- <nav id="menu">
				<ul>
					<li><a href="#">home</a></li>
					<li><a href="#">home</a></li>
					<li><a href="#">home</a></li>
					<li><a href="#">home</a></li>
				</ul>	
			</nav> -->
		</header> 

        <!--content-->
        <div class = "content">
            <div class = "menu-bar">
                <nav class = "menu">
                    <div class = "menu-content user">
                        <a href="#">
                        <div class = "menu-img"><img src="../img/main/unknown.png"></div>
                        <div class = "menu-name">이연지</div></a>
                    </div>
					<div class = "menu-content introduce"><a href="#">
                        <div class = "menu-img"><img src="../img/main/unknown.png"></div>
                        <div class = "menu-name">소개</div></a>
                    </div>
                    <div class = "menu-content home"><a href="#">
                        <div class = "menu-img"><img src="../img/main/unknown.png"></div>
                        <div class = "menu-name">홈</div></a>
                    </div>
                    <div class = "menu-content group"><a href="#">
                        <div class = "menu-img"><img src="../img/main/unknown.png"></div>
                        <div class = "menu-name">그룹</div></a>
                    </div>
                    <div class = "menu-content checklist"><a href="#">
                        <div class = "menu-img"><img src="../img/main/unknown.png"></div>
                        <div class = "menu-name">체크리스트</div></a>
                    </div>
                </nav>
            </div>
            <div class = "main">
                <div class = "checklist-name">체크리스트</div> 
                <div class = "checklist">
                    <div class = "checklist-date">
                        <div class ="left-btn">
                            <button><</button>
                        </div>
                        <div class = "today-date">
                            2021.06.06
                        </div>
                        <div class ="right-btn">
                            <button>></button>
                        </div>
                    </div>
                    <form class="js-toDoForm">
                        <input class = "underline" type="text" placeholder = "내용을 입력하세요."/>
                        <button>추가</button>
                    </form>
                    <ul class = "js-toDoList">
                    </ul>
                </div>    
                <!-- <div class ="company-info">ⓒ 2021 by Team Dreaming Birds</div> -->
            </div>
            <div class = "ranking">
                
            </div>
       </div> <!--end of content-->
    </div> 
</body>
</html>