<!DOCTYPE html>
<html>

<head>	
	<title>Dreaming Birds</title>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="../img/icon.ico">
	<link rel="stylesheet" href="../css/index.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>
	<div id="wrap" class="no-drag">
		<h1>error</h1>
	</div>
</body>


</html>