<!DOCTYPE html>
<html>

<head>	
	<title>Dreaming Birds</title>
	<meta charset="utf-8">
	<!-- <meta name="google-site-verification" content="gsmia29_uxujs09o3OtbFpb2UxwZiTEvXJinE6NW3xA" /> -->
	<link rel="shortcut icon" href="../img/icon.ico">
	<link rel="stylesheet" href="../css/index.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/fullpage.css">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/fullpage.js"></script>
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>
	<div id="wrap" class="no-drag">
		<div id="header"> </div>
		<div id="fullpage">
			<div class="section" id="intro1">
				<div id="intro1_box">
					<div id="intro_sentence" data-aos="fade-zoom-in" data-aos-easing="ease-in-back"
						data-aos-duration="1500">
						<b>지금 당신의 공부 시간을 측정하세요</b>
					</div>
					<div id="dream_time_box">
						<div class="dream_time" data-aos="fade-zoom-in" data-aos-easing="ease-in-back"
							data-aos-duration="1500" data-aos-delay="750">
							<% if(!user) { %>
								<b>모든 새들이 꿈을 꾼 시간</b>
								<div id="time" data-time="<%= whole %>"></div>
							<% } else { %>
								<b>당신이 꿈을 꾼 시간</b>
								<div id="time" data-time="<%= JSON.stringify(user.subjects).replaceAll(" ", "&nbsp;") %>"></div>
							<% } %>
							<br>
							<b>
								<span class="time"> 00일 </span>
								<span class="time"> 00시간 </span>
								<span class="time"> 00분 </span>
							</b>
						</div>
					</div>
					<div id="start" onclick="location.href='/home'" data-aos="fade-zoom-in"
						data-aos-easing="ease-in-back" data-aos-duration="1500" data-aos-delay="1500">
						<span>Start</span>
						<div id="arrow">→</div>
					</div>
				</div>
			</div>
			<div class="section" id="intro2">
				<div id="intro2_p">
					<span id="intro2_p1">독서실의 변화, <br>
						Dreaming Bird에서 경험하세요.</span><br>
					<span id="intro2_p2"> 자신을 보며 공부하세요. </span>
				</div>
			</div>
			<div class="section" id="intro3">
				<img src="../img/index/logo_except.png">
				<br><br>
				<div class="famous_saying">
					&nbsp;<br>&nbsp;
				</div>
				<!-- 낭비한 시간에 대한 후회는 더 큰 시간 낭비다.
				-메이슨 쿨리-  -->
			</div>
			<div class="section" id="intro4">
				<div id="team">
					<ul class="team_member">
						<li>
							<img class="profile" src="../img/index/nayoon.png">
							<div class="caption">
								<h1>김나윤</h1>
								<p>설명설명설명</p>
								<div class="caption_link">
									<a href="https://github.com/nayoon030303" target="_blank">
										<img src="../img/index/github.png">
									</a>
								</div>
							</div>
						</li>
						<li>
							<img class="profile" src="../img/index/member.png">
							<div class="caption">
								<h1>김아름</h1>
								<p>설명설명설명</p>
								<div class="caption_link">
									<a href="https://github.com/areum0505" target="_blank">
										<img src="../img/index/github.png">
									</a>
								</div>
							</div>
						</li>
						<li>
							<img class="profile" src="../img/index/member.png">
							<div class="caption">
								<h1>김연희</h1>
								<p>설명설명설명</p>
								<div class="caption_link">
									<a href="https://github.com/gimyoni" target="_blank">
										<img src="../img/index/github.png">
									</a>
								</div>
							</div>
						</li>
						<li>
							<img class="profile" src="../img/index/yeonji.png">
							<div class="caption">
								<h1>이연지</h1>
								<p>설명설명설명</p>
								<div class="caption_link">
									<a href="https://github.com/yj310" target="_blank">
										<img src="../img/index/github.png">
									</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="section" id="intro5">
				<span id="intro5_sentence"><b>지금 당신의 공부 시간을 측정하세요</b></span>
				<a href="#first">
					<div id="go_top">
						<span>Go Front</span>
						<span>↑</span>
					</div>
				</a>
				<span id="corp">ⓒ 2021 by Team Dreaming Birds</span>
			</div>
		</div>
		<div id="user-info" data-user=<%= JSON.stringify(user).replaceAll(" ", "&nbsp;") %>></div>
	</div>
</body>
<script>
	new fullpage('#fullpage', {
		autoScrolling: true,
		scrollHorizontally: true,
		navigation: true,
		anchors: ['first', 'second', 'third', 'fourth', 'fifth']
	});
</script>
<script>
	$(function () {
		AOS.init();
	});
</script>

<script type="text/javascript" src="../js/index.js"></script>
<script type="text/javascript" src="../js/header.js"></script>

</html>