<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../img/icon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dreaming Birds</title>
    <link rel="stylesheet" href="../css/mypage.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>
    <div class="root">
        <div id="header" data-user=<%=JSON.stringify(user) %>> </div>
        <div class="container">
            <div id="menu"></div>
            <div class="main">
                <div class="box">
                    <p class="title">기본정보</p>
                    <div class="content">
                        <form method="post" enctype="multipart/form-data">
                            <div id="profile">
                                <img src="<%= user.profile_src %>" name="profile_src" id="profile_img">
                                <label for="upload_img" class="upload_btn">프로필 사진 변경</label>
                                <input type="file" name="image" id="upload_img" accept="image/*" >
                            </div>
                            <div id="basic-info">
                                <table>
                                    <tr>
                                        <th>닉네임</th>
                                        <td><input type="text" value="<%= user.nickname %>" id="nickname"
                                                name="nickname" placeholder="닉네임을 입력하세요"></td>
                                    </tr>
                                    <tr>
                                        <th>한줄소개</th>
                                        <td>
                                            <textarea rows="2" id="intro" name="intro"
                                                placeholder="당신의 한줄소개를 입력하세요"><%= user.intro %></textarea>
                                        </td>
                                    </tr>
                                </table>
                                <input id="update_btn" value="수정" type="submit" />
                            </div>
                        </form>
                    </div>
                </div>
                <div class="box">
                    <p class="title">당신이 꿈을 꾼 시간</p>
                    <div class="content">
                        <div id="dream-content">
                            <h1 id="dream-time">100일 22시간 25분 16초</h1>
                            <button id="dream-info">
                                ?
                                <div id="tooltip">
                                    <div id="tooltip-header">
                                        <img src="../img/icon/info.png">
                                        <span><b>&nbsp;꿈을 꾼 시간이란?</b></span>
                                    </div>
                                    <div id="tooltip-content">
                                        당신이 꿈을 이루기 위해 노력한 시간
                                    </div>
                                </div>
                            </button>

                        </div>
                    </div>
                </div>
                <div class="box">
                    <p class="title">과목 관리</p>
                    <div class="content">
                        <div id="subject-content">
                            <div id="whole-subject">
                                <span>전체 과목 수 </span>
                                <span id="subject-number"></span>
                            </div>
                            <div id="subject-list">
                                
                            </div>
                            <div id="subject-add">
                                <button> + 추가하기 </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../js/header.js"></script>
    <script type="text/javascript" src="../js/menu.js"></script>
    <script type="text/javascript" src="../js/mypage.js"></script>
</body>
</html>