<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dreaming Birds</title>
	<link rel="stylesheet" href="../css/select.css" type="text/css">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
	<div class="root">
		<div id="header" data-user=<%= JSON.stringify(user) %>> </div>
		<div class="line"></div>
		<div class="container">
			<div class="main">
				<div class="head">
					<img class="x-btn" src="../img/icon/x-button.png">
				</div>
				<div class="title">
					<h1>어떤 과목을 학습하시겠습니까?</h1>
				</div>
				<div class="select">
					<div class="content"></div>
					<div class="content"></div>
					<div class="content"></div>
					<div class="content"></div>
					<div class="content"></div>

					<div class="content"></div>
					<div class="content"></div>
					<div class="content"></div>
					<div class="content"></div>
				</div>
				<div class="bottom">
					<div class="add-btn">+ 추가하기</div>
				</div>
			</div>
		</div>

		<div class="overlay"></div>
		
	</div>


	<script type="text/javascript" src="../js/header.js"></script>
</body>
</html>