.no-drag {-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}
* { 
    margin: 0; padding: 0; 
    
}

.root {
    width: 100%;
    height: auto;
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    height: 92vh;
    position: relative;
    display: flex;
    flex-direction: row; /*주측: 가로 방향*/
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    margin-top: 60px;
}

a{
    color:#000;
    text-decoration: none;
}

input.underline {
    width:80%;
    height: 40px;
    border: none;
    border-bottom: 1px solid #C6C6C6;
    color : black;
    font-size: 20px;
}
input.underline:focus { outline:none; }
   
clearfix::after{
    content: ' ';
    display: block;
    clear: both;
}

li{
    list-style: none;
}

.content {
    display: flex;
    flex-direction: row;
    width:85%;
    height:93%;
}


/* main */
.content .main {
    width:80%;
    height:92vh;
    display:flex;
    background-color: #F5F5F5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .main .checklist-name {
    width:90%;
    height:10%;
    border-radius: 10px 10px 0px 0px;
    border : 1px solid #CFCFCF;
    border-bottom:none;
    background-color: #FFFFFF;
    color:#606060;
    display: flex;
    align-items: center;
    padding : 0 10px;
}
.content .main .checklist-name p {
    margin-left: 2%;
}
.content .main .checklist {
    display:flex;
    flex-direction: column; 
    align-items: center;
    width:90%;
    height:80%;
    background-color: #FFFFFF;
    border : #CFCFCF solid 1px;
    padding : 0 10px;
    border-radius: 0px 0px 10px 10px;
}


.content .main .checklist-date{
    width:30%;
    height:10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .main .checklist .checklist-date .todo-title {
    padding: 0 5%;
    font-size: 25px;
    color: #606060;
}

.content .main .checklist .checklist-date .left-btn{
    width:15%;
    height:100%;
    float:left;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content .main .checklist .checklist-date .left-btn button{
    width:50px;
    height:50px;
    font-size: 30px;
    background-color: white;
    color: #606060;
    border:0;
}

.content .main .checklist .checklist-date .right-btn{
    width:15%;
    height:100%;
    float:right;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content .main .checklist .checklist-date .right-btn button{
    width:50px;
    height:50px;
    font-size: 30px;
    background-color: white;
    color: #606060;
    border:0;
}

.content .main .checklist .today-date {
    width:50%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .main .checklist .js-toDoForm{
    width:90%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.content .main .checklist .js-toDoForm button{
    width: 15%;
    height: 40px;
    background: #516B7D;
    border: 1px solid #C6C6C6;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}

.content .main .checklist .js-toDoList {
    width: 90%;
    margin-top: 20px;
}
.content .main .checklist .js-toDoList li {
    padding: 1% 2%;
    border-bottom: 1px solid #CFCFCF;
    display: flex;
    align-items: center;
}
.content .main .checklist .js-toDoList li button {
    height: 30px;
    width: 30px;
    font-size: 20px;
    border: 1px solid #D5D5D5;
}
.content .main .checklist .js-toDoList li span {
    font-size: 25px;
    line-height: 30px;
    margin-left: 10px;
}

/* calendar */
.content .content-calendar{
    width:22%;
    height: 92vh;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-right: 2%;
}

.content .content-calendar .calendar{
    background: #E8E8E8;
    width: 100%;
    margin-top: 30px;
    padding: 5%;
    border: black 1px solid;
}

.calendar .day{
    width: 100%;
    height: 70px;
    /* overflow: hidden; */
}

.calendar .day li{
    float: left;
    background: white;
    font-size : 10px;
    width: 14.2%;
    border-bottom: 1px solid black;
    height: 40%;
}

.calendar .day li:last-child{
    margin-right: 0;
}

.main .day li:hover{
    cursor: pointer;
    transition: all .2s;
    transform: scale(1.08);
}

.month{
    color: black;
    font-size: 22px;
    text-align:center;
    margin-bottom: 10px;
}


.month .fa-chevron-left{
    float: left;
    margin-left: 15px;
}

.month .fa-chevron-right{
    float: right;
    margin-right: 15px;
}

ul.dayCount-list.clearfix {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.dayCount .dayCount-list li{
    font-size: 10px;
    color: black;
    width: 12%;
    padding: 1% 0;
    text-align: center;
}

.sun,.sat{
    color: red;
}

.none{
    display: none;
}