@font-face {
    font-family: 'ELAND_Choice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*드래그 금지*/
.no-drag {-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}

* { 
	margin: 0; padding: 0; 
	box-sizing: border-box;
}
a { text-decoration: none; color: white; }
a:visited { text-decoration: none; color: white; }

#intro1 {
	background-color: #001929;
	color: white;
	text-align: center;
}
#intro1 #intro1_box {
	margin-top: 10%;
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
#intro1 #intro_sentence {
	font-size: 50px;
	word-break: keep-all;
}
#intro1 .dream_time {
	font-size: 35px;
	word-break: keep-all;
}
#intro1 #start {
	font-size: 30px;
	display: inline-block;
}
#intro1 #start #arrow {
	transition:  0.4s;
	display: inline-block;
	font-family: Cambria;
}
#intro1 #start:hover #arrow {
	transform: translateX(25px);
}

#intro2 {
	background-image: url("../img/index/intro3.jpg");
	background-size: cover;
	color: white;
}
#intro2 #intro2_p {
	width: 50%;
	margin: auto;
	text-align: left;
	word-break: keep-all;
}
#intro2 #intro2_p #intro2_p1 {
	font-size: 45px;
	line-height: 50px;
}
#intro2 #intro2_p #intro2_p2 {
	font-size: 25px;
	line-height: 120px;
}

#intro3 {
	text-align: center;
	font-size: 45px;
	font-family: 'Seaweed Script', cursive;
}
#intro3 img {
	width: 13%;
}
#intro3 .famous_saying {
	position: relative;
	overflow: hidden;
}
#intro3 .famous_saying:before, 
#intro3 .famous_saying:after {
	position: absolute;
	width: 100%;
	content: "Regretfor wasted time is more wasted time \A -Mason Cooley-";
	white-space:pre;
}
#intro3 .famous_saying:before {
	top: 0;
	left: 0;
	transition: 0.3s;
}
#intro3 .famous_saying:hover:before {
	top: -100%;
}
#intro3 .famous_saying:after {
	top: 100%;
	left: 0;
	transition: 0.3s;
	content: "낭비한 시간에 대한 후회는 더 큰 시간 낭비다. \A -메이슨 쿨리-";
	white-space:pre;
	font-family: 'ELAND_Choice_M';
	font-size: 36px;
	line-height: 60px;
}
#intro3 .famous_saying:hover:after {
	top: 0;
}


#intro4 {
	background-color: black;
}
#intro4 .team_member {
	list-style: none;
}
#intro4 .team_member li {
	position: relative;
	float: left;
	overflow: hidden;
	width: 15%;
}
#intro4 .team_member li:nth-child(1) { margin-left: 12.5%; }
#intro4 .team_member li:nth-child(n + 2) { margin-left: 5%; }
#intro4 .team_member .profile {
	float: left;
	z-index: 5;
	width: 100%;
}
#intro4 .team_member .caption {
	position: absolute;
	top: 200px;
	width: 100%; height: 100%;
	padding-top: 20px;
	background: rgba(0, 0, 0, 0.7);
	opacity: 0;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	z-index: 10;
	text-align: center;
	color: white;
}
#intro4 .team_member li:hover .caption {
	opacity: 1;
	-moz-transform: translateY(-200px);
	-ms-transform: translateY(-200px);
	-o-transform: translateY(-200px);
	-webkit-transform: translateY(-200px);
	transform: translateY(-200px);
}
#intro4 .team_member li .caption h1, p{
	margin-top: 10%;
}
#intro4 .team_member li .caption_link {
	position: absolute;
	bottom: 15px;
	width: 100%;
	height: 10%;
}
#intro4 .team_member .caption img {
	height: 100%;
}

#intro5 {
	background-color: #001929;
	color: white;
	text-align: center;
}
#intro5 #intro5_sentence {
	font-size: 50px;
	word-break: keep-all;
}
#intro5 #go_top {
	font-size: 30px;
	margin-top: 100px;
}
#intro5 #corp {
	width: 100%;
	font-size: 12px;
	text-align: center;
	position: absolute;
	left: 0px;
	bottom: 5px;
}

