
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');

@import url('https://fonts.googleapis.com/css?family=Song+Myung:400');

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
a{
    text-decoration: none;
}
.root{
    font-family: 'Nanum Gothic', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column; /*주측: 가로 방향*/
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    /* background-color: tomato; */
}