.no-drag {-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}
* { 
    margin: 0; padding: 0; 
    box-sizing: border-box;
}
.container {
    width: 100vw;
    height: 100vh;
    background: pink;
}
a{
    color:#000;
    text-decoration: none;
}
header {
    position: relative;
    height: 8vh;
    background-color: white;
    box-shadow : 2px 2px 5px #999;
}
header .shadow {
    box-shadow : 2px 2px 5px #999;
}

header #logo {
    height: 60px;
    margin: 5px 0 5px 10px;
    float: left;
}
header #member_name {
    height: 60px;
    line-height: 60px;
    margin: 5px 0 5px 5px;
    float: right;
    font-size: 20px;
}
header #member_profile {
    height: 60px;
    margin: 5px 10px 5px 10px;
    overflow: hidden;
    float: right;
    border-radius: 50%;
    border: 1px solid black;
}
header #member_profile img {
    height: 100%;
}
header #menu {
    width: 360px;
    height: 29px;
    margin-left: 250px;
}
header #menu ul li {
    list-style: none;
    text-align: center;
    float: left;
}
header #menu ul li a {
    text-decoration: none;
    color: black;
    display: block;
    width: 90px;
}
header #menu ul li a:hover {
    color: #100A5B;
}
.content {
    display: flex;
    flex-direction: row;
    width:100vw;
    height:92vh;
}

.content .menu-bar {
    width:20%;
    background-color: #F9F9F9;
    border-right: 1px solid #E8E8E8;
}

.content .menu-bar .menu {
    margin-top:30px;
    margin-left :30px;
    width: 160px;
    height: 300px;
    display:flex;
    flex-direction: column;    
    justify-content:space-between;
}

.content .menu-bar .menu .menu-content{
    height:40px;
}

.menu-img{
    float:left;
    width : 40px;
    height: 40px;
    border-radius: 50%;
}

.menu-img img{
    width : 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
}

.menu-name {
    margin-left: 70px;
    display: flex;
    align-items: center;
    height:100%;
}

/* main */
.content .main {
    width:60%;
    height:100%;
    display:flex;
    background-color: #F5F5F5;
    justify-content: center;
    align-items: center;
}

.content .main .mode {
    display:flex;
    flex-direction: column; 
    justify-content:space-between;
    width:60%;
    height:95%;
    
}

/* main-top */
.content .main .mode .top{
    background-color: #fff;
    height:13%;
    border: #CFCFCF
    1px solid;
    border-radius: 30px;
    margin-bottom: 2%;
}

.content .main .mode .top .left-btn{
    width:15%;
    height:100%;
    float:left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .main .mode .top .left-btn button{
    width:50px;
    height:50px;
    font-size: 30px;
    background-color: white;
    border:0;
}

.content .main .mode .top .right-btn{
    width:15%;
    height:100%;
    float:right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .main .mode .top .right-btn button{
    width:50px;
    height:50px;
    font-size: 30px;
    background-color: white;
    border:0;
}

.content .main .mode .top .group-content{
    width:50%;
    height:100%;
    float:left;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content .main  .mode .top .group-content .group-name{
    font-size: 23px;
    text-align: center;
    color: #343434;
}

.content .main  .mode .top .group-content .group-now{
    font-size: 20px;
    text-align: center;
    color: #343434;
}

.content .main .top .entrance-btn{
    float:left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width:10%;
    height:100%;
}

.content .main .mode .top .entrance-btn button{
    width: 85px;
    height: 30px;
    font-size:12px;
    text-align: center;
    color: #909090;
    background-color: white;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 10px;
}

/* main-mid */
.content .main .mid {
    height:70%;
    border: #CFCFCF
    1px solid;
    border-radius: 30px;
    background-color: #fff;
    display :flex;
    flex-direction: column;
    align-items: center;
}
.content .main .mid .cam {
    width:100%;
    height: 40%;
    margin-top : 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .main .mid .cam .excam{
    width : 50%;
    height:80%;
}

.content .main .mid .timer {
    width:100%;
    height:30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.content .main .mid .timer .all-focus-time{
    width:50%;
    height:40%;
    background: #FFFFFF;
    border: 1px solid #C6C6C6;
    font-size: 36px;
    text-align: center;
}

.content .main .mid .timer .detail-time{
    width:50%;
    height:40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    line-height: 21px;
}

.content .main .mid .timer .detail-time .inner-timer{
    width:45%;
    height:100%;
    border : 1px solid #C6C6C6;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.content .main .mid .timer-controll{
    width:100%;
    height:30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5%;
}

.content .main .mid .timer-controll  button{
    width : 25%;
    height: 22%;
    background: #FFFFFF;
    border: 1px solid #C6C6C6;
    border-radius: 10px;
    font-size: 18px;
}

/* main-bot */
.content .main .bot{
    height:18%;
    margin-top: 2%;
    margin-bottom:2%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.content .main .bot .level{
    width:60%;
    height:100%;
    border: #CFCFCF
    1px solid;
    border-radius: 30px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
}

.content .main .bot .level .level-img {
    width:40%;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.content .main .bot .level .level-img img{
    width: 70px;
    height:70px;
}

.content .main .bot .level .level-content{
    width:50%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.content .main .bot .level .level-content .level-name{
    font-size: 18px;
    font-weight: bold;

}

.content .main .bot .level .level-content .level-info{
    font-size: 10px;
}

.content .main .bot .caution{
    width:35%;
    height:100%;
    border: #CFCFCF
    1px solid;
    border-radius: 30px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
}
.content .main .bot .caution .caution-img {
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.content .main .bot .caution .caution-img img{
    width: 70px;
    height: 70px;
}

.content .main .bot .caution .caution-content{
    width:50%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.content .main .bot .caution .caution-content .caution-ment{
    font-size: 18px;
    font-weight: bold;

}

.content .main .bot .caution .caution-content .caution-cnt{
    font-size: 15px;
}

.content .main .company-info{
    color: #B7B7B7;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

/* ranking */
.content .ranking{
    width:20%;
    background-color: #F9F9F9;
    border-left: 1px solid #E8E8E8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
}

.content .ranking .user{
    margin-bottom:5%;
    width:80%;
    height: 70px;
    background-color: white;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.content .ranking .user .user-info .user-name{
    float:left;
    font-weight: bold;
    font-size:16px;
    color:#282828;
}

.content .ranking .user .user-info .user-time{
    font-size:12px;
    color: #848484;
}

.content .ranking .user .user-profile{
    float:left;
    width : 40px;
    height: 40px;
    margin-right: 15px;
}

.content .ranking .user .user-profile img{
    width : 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #E5E5E5;
}

.content .ranking .user .user-bird{
    width : 40px;
    height: 40px;
}

.content .ranking .user .user-bird img{
    width : 40px;
    height: 40px;
    border: 1px solid black;
}