body{
    margin: 0;
    padding: 0;
}

div{
    /* border: solid red 1px; */
}

input{
    border: 1px solid ;
    border-color: rgb(172, 172, 172);
}

#container{
    width: 400px; 
    margin: 0 auto;
}

.title{
    margin:50px 0px 30px 0px;
    text-align: center;
}

#list_div{
    margin: 60px 0px 20px 0px;
    font-size: 13px;
}

#list{
    list-style: none;
    margin: 0;
    padding: 0;
    color: rgb(172, 172, 172);
    display: flex;
    justify-content: space-around;
}

#list li{
    display: block;
    text-align: center;
}

.form_item_name{
   margin: 1px;
   font-size: 18px;
}

.form_item_name p{
    margin: 0;
    padding: 0;
    padding-top: 40px;
    padding-bottom: 5px;
}

.form_input{
    width: 380px;
    height: 42px;
    border-radius: 5px;
    font-size: 15px;
    padding-left: 10px;
}

#year,#month,#day {
    border-color: rgb(156, 156, 156);
    font-size: 15px;
}


#birth_div{
    width: 400px;
    display: flex;
    justify-content: space-between;
}

#year{
    width: 170px;
    
}

#month{
    width: 97px;
    height: 40px; 
}

#day{
    width: 97px;
    height: 40px; 
}


#nextButton_div{
    margin: 50px 0px 50px 0px;
    display: flex;
    justify-content: center;
}

#nextButton{
    width: 400px;
    height: 50px;
}

.form_text_alert_padding{
    margin-top: 5px;
    color: red;
    font-size: 5px;
}

.current_css{
    
    color: black;
}

